@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --ff-one: 'Roboto', sans-serif;
    /*  */
    --wid-one: 1920px;
    --wid-two: 90%;
    /*  */
    --wg-one: 900;
    --wg-two: 700;
    --wg-three: 500;
    /*  */
    --bg-one: #F8765E;
    --bg-two: #ffffff;
    --bg-three: #9BDBE7;
    /*  */
    --clr-one: #ffffff;
    --clr-two: #031d5c;
    --clr-three: #5B6C94;
    --clr-four: #CDCDCD;
    --clr-five: #F8765E;
    --clr-six: #7C7C7C;
    --clr-seven: black;
}

.h--container{
    max-width: var(--wid-one);
    margin: 0 auto;
    padding-bottom: 15vw;
    background-color: var(--bg-one);
}

.h--top{
    width: var(--wid-two);
    margin: 0 auto 10vw;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h__title{
    font-size: clamp(1.6rem, 2vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-one);
    text-transform: uppercase;
}

.h__nav{
    margin-right: 6.5rem;
}

.h__ul{
    display: flex;
    gap: 3rem;
}

.h__ul li > a{
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-one);
}

.h--mid{
    width: var(--wid-two);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h--mid > * {
    flex: 1;
}

.h__img{
    width: 50%;
}

.h__txt__tittle{
    width: min(45vw, 25ch);
    font-size: clamp(1.9rem, 3.5vw, 4.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-one);
}

.h__txt__body{
    width: min(62ch, 100%);
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    line-height: 35px;
    margin: 2rem 0;
    color: var(--clr-one);
}

.h__input{
    width: 24vw;
    height: 55px;
    border-radius: 20px;
    margin-right: 1rem;
    border: none;
    outline: none;
}

.h__input::placeholder{
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    padding-left: 1vw;
    color: var(--clr-four);
}

.h__btn{
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    padding: .75em .8em;
    border-radius: 20px;
    background-color: var(--bg-three);
    color: var(--clr-one);
    border: none;
    cursor: pointer;
}

/** MAIN 1º CONTAINER */
.main--card{
    max-width: var(--wid-one);
    margin: 0 auto;
}

.card--box{
    width: var(--wid-two);
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: var(--bg-two);
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    bottom: 7rem;
}

.card--box > *{
    flex: 1;
}

.card--wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.card__img{
    width: 50%;
    margin-right: 8rem;
}

.card__config{
    margin-bottom: 3rem;
}

.config_img{
    margin-bottom: 1rem;
}

.card__title{
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    color: var(--clr-two);
    position: relative;
    align-self: flex-start;
}

.card__title::after{
    content: '';
    width: 90px;
    border: 2px solid #F8765E;
    margin-top: 1rem;
    display: block;
    position: absolute;
}

.card__body{
    width: min(34ch, 100%);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    line-height: 32px;
    color: var(--clr-three);
    align-self: flex-start;
}

/** MAIN 2º CONTAINER */
.main--top{
    max-width: var(--wid-one);
    margin: 0 auto 7rem;
    background-color: var(--bg-two);
}

.top--wrapper{
    width: var(--wid-two);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top--wrapper > *{
    flex: 1;
}

.taste__img{
    width: 80%;
}

.taste__mobile,
.taste__cta{
    display: none;
}

.taste--txt{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.taste__title{
    font-size: clamp(1.8rem, 3.5vw, 4.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    margin-bottom: 2rem;
    color: var(--clr-five);
    text-align: right;
}

.taste__subtitle{
    font-size: clamp(1.6rem, 2.4vw, 3.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    margin-bottom: 3rem;
    color: var(--clr-two);
    text-align: right;
}

.taste__body{
    width: min(62ch, 100%);
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    line-height: 32px;
    margin-bottom: 2rem;
    color: var(--clr-three);
    text-align: right;
}

.taste__btn{
    font-size: clamp(1.25rem, 1.5vw, 1.4rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    border-radius: 20px;
    padding: 1em;
    background-color: var(--bg-three);
    color: var(--bg-two);
    border: none;
    cursor: pointer;
}

/** MAIN 3º CONTAINER */
.main--mid{
    max-width: var(--wid-one);
    margin: 0 auto 7rem;
}

.mid--wrapper{
    width: 95%;
    margin: 0 0 0 auto;
    background-color: var(--bg-two);
    display: flex;
    position: relative;
    z-index: 1;
}

.mid--quote{
    background-color: transparent;
    position: relative;
    z-index: 1;
    flex: 1;
}

.quote__img{
    width: 75%;
    position: absolute;
    top: 2rem;
    z-index: -1;
}

.quote__subtitle{
    width: min(30ch, 60%);
    font-size: clamp(1.6rem, 2.4vw, 3.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    margin: 4rem 0 0 1.5rem;
    color: var(--bg-one);
}

.mid--orange{
    height: clamp(660px, 950px, 45vw);
    border-radius: 20px 0 0 20px;
    background-color: var(--bg-one);
    flex: 2;
    overflow: hidden;
}

.carrosel--wraper{
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    column-gap: 4rem;
    position: absolute;
    z-index: 1;
    top: 10vw;
    left: 19vw;
}

.orange--blue{
    height: clamp(400px, 550px, 600px);
    border-radius: 20px;
    box-shadow: 12px 12px 40px 0 rgba(0, 0, 0, 0.25);
    padding: 4rem 3rem;
    background-color: var(--bg-three);
    position: relative;
}

.orange--white{
    background-color: var(--bg-two);
}

.wrapper__quote{
    width: 15%;
    margin-bottom: 2rem;
}

.orange__body{
    font-size: clamp(1.2rem, 1.3vw, 2.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    line-height: 36px;
    color: var(--clr-six);
}

.orange__white{
    width: min(15ch, 60%);
    color: var(--clr-one);
}

.orange__low, 
.white__low{
    font-size: clamp(1.2rem, 1.3vw, 2.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    color: var(--clr-six);
    position: absolute;
    bottom: 4rem;
}

.orange__low__span{
    color: var(--clr-seven);
}

.white__low{
    color: var(--clr-one);
}

/** MAIN 4º CONTAINER */
.main--low{
    max-width: var(--wg-one);
    margin: 0 auto 7rem;
    background-color: var(--bg-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.low__title{
    font-size: clamp(1.8rem, 2.5vw, 3rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-five);
}

.low__subtitle{
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-three);
    color: var(--clr-four);
}

.main--input{
    display: flex;
    gap: 1rem;
}

.low__input{
    width: clamp(300px, 10vw, 400px);
    height: 60px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    outline: none;
    border: none;
}

.low__input::placeholder{
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    padding-left: 1.5rem;    
    color: var(--clr-four);
}

.low__btn{
    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-two);
    padding: .75em .8em;
    border-radius: 20px;
    background-color: var(--bg-three);
    color: var(--clr-one);
    border: none;
    cursor: pointer;
}

/** FOOTER */
.f--container{
    max-width: var(--wg-one);
    margin: 0 auto;
    padding: 3rem 0 2rem;
    background-color: var(--bg-one);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.f__copyright{
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-one);
}

.f__ul{
    display: flex;
}

.f__ul li > a{
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--wg-one);
    color: var(--clr-one);
}

.f__ul li > a > span{
    margin: 0 2rem;
}

@media (max-width: 800px){
    :root{
        --wid-third: 100%;
    }

    /** HEADER RESPONSIVE */
    .h--container{
        padding-bottom: 20vw;
    }

    .h--top{
        width: var(--wid-third);
        margin: 0 auto 3rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }    

    .h__nav{
        margin-right: 0;
    }

    .h--mid{
        width: var(--wid-third);
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .h__img{
        width: var(--wid-two);
        order: -1;
    }

    .h__txt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h__txt__tittle, 
    .h__txt__body{
        text-align: center;
    }
    
    .h__txt__tittle{
        width: 80%;
    }

    .h__txt__body{
        width: 80%;
    }

    .h--form{
        width: var(--wid-third);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .h__input{
        width: var(--wid-two);
        margin-right: 0;
    }

    /** MAIN 1º CONTAINER RESPONSIVE */
    .main--card{
        margin: 0 auto 5rem;
    }

    .card--box{
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        gap: 2rem;
        bottom: 5rem;
    }

    .card--wrapper{
        flex-direction: column;
        gap: 3rem;
    }

    .card__img{
        width: 80%;
        margin: 0;
    }

    .card__title::after{
        width: 70px;
    }

    /** MAIN 2º CONTAINER RESPONSIVE */
    .main--top{
        margin: 0 auto 15rem;
    }

    .top--wrapper{
        width: var(--wid-third);
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .top--fig{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 0;
    }

    .taste__img{
        display: none;
    }

    .taste__mobile,
    .taste__cta{
        width: 40%;
        display: initial;
    }

    .taste__cta{
        width: 60%;
        position: absolute;
        top: 10vw;
        z-index: -1;
    }

    .taste--txt{
        padding: 0 1rem;
        align-items: center;
        gap: 1rem;
    }

    .taste__title,
    .taste__subtitle,
    .taste__body{
        text-align: center;
        margin-bottom: 0;
    }

    /** MAIN 3º CONTAINER RESPONSIVE */
    .mid--wrapper{
        width: 85%;
    }

    .mid--quote{
        position: absolute;
        top: -20vw;
        left: -10vw;
    }

    .quote__img{
        width: 55%;
    }

    .quote__subtitle{
        line-height: 45px;
        margin: 4rem 0 0 1rem;
    }

    .mid--orange{
        margin: 0;
    }

    .carrosel--wraper{
        width: var(--wid-third);
        grid-auto-columns: 55%;
        column-gap: 4rem;
        inset: 15vw 0 0 -8vw;
    }

    .orange--blue{
        width: 310px;
        height: 400px;
        padding: 3rem 2rem;
    }

    .wrapper__quote{
        width: 30%;
        margin-bottom: 2rem;
    }

    /** MAIN 4º CONTAINER RESPONSIVE */
    .low__title{
        width: 17ch;
        line-height: 40px;
        text-align: center;
    }

    .main--input{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 550px){
    .card--box{
        bottom: 3rem;
    }

    .mid--quote{
        top: -30vw;
    }

    .carrosel--wraper{
        column-gap: 8rem;
    }

    .f__ul li > a > span{
        margin: 0 1rem;
    }
}

@media (max-width: 400px){
    .mid--quote{
        top: -40vw;
    }

    .carrosel--wraper{
        column-gap: 12rem;
        top: 20vw;
    }

    .f__ul li > a > span{
        margin: 0 .5rem;
    }
}

@media (max-width: 350px){
    .mid--quote{
        top: -47vw;
        left: -12vw;
    }
}
